@import "tailwindcss";

:root {
  --background: hsl(214, 100%, 98%);
  --foreground: hsl(217, 57%, 14%);

  /*  Spacing*/
  --size-fit: max(2rem, (100vw - 75rem) / 2); /* 480 px max */

  /*  Border*/
  --border-poem: hsla(218, 57%, 15%, 0.08);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

input,
button,
select,
label,
textarea {
  font-family: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IRANYekan", system-ui;
  width: 100vw;
  height: 100dvh !important;
  overflow-inline: hidden;
  padding-inline: var(--size-fit);
  direction: rtl;
}
